@charset "UTF-8";
html, body {
  height: 100%; }

body {
  font-family: Lato, Helvetica, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif; }

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -35px;
  padding: 0 0 35px; }

img {
  max-width: 100%;
  height: auto; }

a.navbar-text {
  margin-left: 0px;
  margin-right: 0px; }

.tag {
  display: inline-block;
  padding: 0 21px;
  margin: 0 5px 5px 0;
  color: #fff;
  vertical-align: middle;
  background-color: #5dade2;
  border-radius: 4px; }

.icon-text {
  margin-left: 4px; }

.btn .icon-text {
  font-family: Lato, Helvetica, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-size: 12px;
  font-weight: 900; }

.dl-horizontal dt {
  text-align: left;
  width: 180px; }

ol .bibliography {
  display: flex;
  flex-direction: column-reverse; }
  ol .bibliography li {
    flex: 0 0 auto; }

footer ul {
  margin-bottom: 5px; }

@media screen and (max-width: 550px) {
  .hide-small {
    display: none !important; } }
@media screen and (max-width: 475px) {
  body {
    font-size: 16px; }

  h1,
  .h1 {
    font-size: 40px; }

  h2,
  .h2 {
    font-size: 29px; }

  h3,
  .h3 {
    font-size: 28px; }

  h4,
  .h4 {
    font-size: 24px; }

  h5,
  .h5 {
    font-size: 18px; }

  h6,
  .h6 {
    font-size: 16px; } }
