---
---

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -35px;
  padding: 0 0 35px;
}

footer {
  height: 35px;
}

.tag {
  display:inline-block;
  padding:0 21px;
  margin:0 5px 5px 0;
  color:#fff;
  vertical-align:middle;
  background-color:#5dade2;
  border-radius:4px;
}


.dl-horizontal dt {
  text-align: left;
  width: 180px;
}

ol .bibliography {
  display: flex;
  flex-direction: column-reverse;

  li {
    flex: 0 0 auto;
  }
}
