---
layout: default
categories: top
---

    <div>
      <h1>{{ site.author.name.[page.lang] }}</h1>
      <div class="col-md-7">
        <p class="lead">{{ site.author.description.[page.lang] }}</p>
      </div>
      <div class="col-md-5">
        <dl class="dl-horizontal">
          {% if site.author.emails %}
          <dt><span class="fui-mail"> Email </span></dt>
          {% for email in site.author.emails %}
          <dd>
            <a>{{ email }}</a>
          </dd>
          {% endfor %}
          {% endif %}

          {% if site.author.twitter %}
          <dt><span class="fui-twitter"> Twitter </span></dt>
          <dd><a href="https://twitter.com/{{ site.author.twitter }}" target="_blank">  @{{ site.author.twitter }} </a></dd>
          {% endif %}

          {% if site.author.github %}
          <dt><span class="fui-github"> GitHub </span></dt>
          <dd><a href="https://github.com/{{ site.author.github }}" target="_blank">  @{{ site.author.github }} </a></dd>
          {% endif %}
        </dl>
      </div>
    </div>

    {% if site.data.education.[page.lang] %}
    <div id="education">
      <h3>Education</h3>
      <dl class="dl-horizontal">
        {% for school in site.data.education.[page.lang] %}
        <dt>{{ school.period }}</dt>
        <dd><div class="col-md-9">{{ school.name }}</div><div class="col-md-3 text-muted">{{ school.degree }}</div></dd>
        {% endfor %}
      </dl>
    </div>
    {% endif %}

    {% if site.data.research.[page.lang] %}
    <div id="research">
      <h3>Research Experience</h3>
      <dl class="dl-horizontal">
        {% for workplace in site.data.research.[page.lang] %}
        <dt>{{ workplace.period }}</dt>
        <dd>
          <div class="col-md-9">{{ workplace.name }}</div>
          <div class="col-md-3 text-muted">{{ workplace.position }}</div>
          {% if workplace.mentor %}
          <div class="col-md-12 text-muted">Under the mentorship of {{ workplace.mentor }}.</div>
          {% endif %}
        </dd>
        {% endfor %}
      </dl>
    </div>
    {% endif %}

    {% if site.data.interests.[page.lang] %}
    <div id="interests">
      <h3>Research Interests</h3>
      <ul class="list-inline">
        {% for interest in site.data.interests.[page.lang] %}
        <li><span class="tag">{{ interest }}</span></li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    {% if site.data.skills.[page.lang] %}
    <div id="skills">
      <h3>Technical Skills</h3>
      <ul class="list-inline">
        {% for skill in site.data.skills.[page.lang] %}
        <li><span class="tag">{{ skill }}</span></li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    {% if site.data.awards.[page.lang] %}
    <div id="awards">
      <h3>Awards</h3>
      <dl class="dl-horizontal">
        {% for award in site.data.awards.[page.lang] %}
        <dt>{{ award.date }}</dt>
        <dd>
          {{ award.name }}
          {% if award.links %}
          {% for link in award.links %}
          <a class="btn btn-primary btn-xs" href="{{ link.url }}" target="_blank"> {{ link.title }} </a>
          {% endfor %}
          {% endif %}
        </dd>
        {% endfor %}
      </dl>
    </div>
    {% endif %}

    {% if site.data.membership.[page.lang] %}
    <div id="membership">
      <h3>Membership</h3>
      <dl class="dl-horizontal">
        {% for society in site.data.membership.[page.lang] %}
        <dt>{{ society.period }}</dt>
        <dd>{{ society.name }}</dd>
        {% endfor %}
      </dl>
    </div>
    {% endif %}

    {% if site.data.certification.[page.lang] %}
    <div id="membership">
      <h3>Certification</h3>
      <dl class="dl-horizontal">
        {% for certificate in site.data.certification.[page.lang] %}
        <dt>{{ certificate.date }}</dt>
        <dd>{{ certificate.name }}</dd>
        {% endfor %}
      </dl>
    </div>
    {% endif %}

    <div id="software">
      <h3>Software</h3>
      <a class="btn btn-primary" href="{{ "/software/" | prepend: site.baseurl | prepend: site.url }}">Details</a>
    </div>

    <div id="publications">
      <h3>Publications</h3>
      <h6>Journal</h6>
      {% bibliography %}
      <h6>Domestic Conference</h6>
      {% if page.lang == 'ja' %}
        {% bibliography -f domestic.ja.bib %}
      {% else %}
        {% bibliography -f domestic.en.bib %}
      {% endif %}
    </div>

